@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: clamp(0.6em, 3vw, 1.2em);
    width: 100%;
}

header h1{
    padding: 20px 15px;
}

/* =---------------------------= */

#containerPontuacoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}

#pontuacaoTimeA{
    padding-right: 10px;
    padding-left: 10px;
}

#pontuacaoTimeB{
    padding-left: 10px;
    padding-right: 10px;
}

#pontuacaoA{
    font-size: clamp(3.5em, 5vw, 3.8em);
    color: white;
    padding: 20px 0;
}

#pontuacaoB{
    font-size: clamp(3.5em, 5vw, 3.8em);
    color: white;
    padding: 20px 0;
}


#tituloA {
    color: #06923E;
}

#tituloB{
    color: #5EABD6 ;
}

#addPontosA{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "maisUmA maisUmA "
    "maisTresA maisSeisA"
    "maisNoveA maisDozeA"
    "zerarA zerarA "
    ;
    margin-top: 20px;
    gap: 5px;
}

#addPontosA button{
    font-size: 15px;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #95d4ae;
    color: black;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 10px #6ebb8d67;
}

#addPontosA button:hover{
    transition: all 0.5s ease ;
    background-color: #5aaa7a;
}

#addPontosA #maisUmA{
    grid-area: maisUmA;
    padding: 15px 5px;
}
#addPontosA #zerarA{
    grid-area: zerarA;
    background-color: #06923E;
    color: white;
    font-weight: 600;
    font-size: clamp(1.3em, 3vw, 1.5em);
    box-shadow: 3px 3px 10px #6ebb8d67;
}

#addPontosA #zerarA:hover{
    background-color: #085f2b;
    transition: all 0.8s ease;
}

#addPontosB{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "maisUmB maisUmB"
    "maisTresB maisSeisB"
    "maisNoveB maisDozeB"
    "zerarB zerarB "
    ;
    margin-top: 20px;
    gap: 5px;
}

#addPontosB button{
    font-size: 15px;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #b7d7e5;
    color: black;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 10px #9fc9dd85;
}

#addPontosB button:hover{
    transition: all 0.5s ease ;
    background-color: #76b3d6;
}

#addPontosB #maisUmB{
    grid-area: maisUmB;
    padding: 15px 5px;
}
#addPontosB #maisTresB{
    grid-area: maisTresB;
}
#addPontosB #maisSeisB{
    grid-area: maisSeisB;
}
#addPontosB #maisNoveB{
    grid-area: maisNoveB;
}
#addPontosB #maisDozeB{
    grid-area: maisDozeB;
}

#addPontosB #zerarB{
    grid-area: zerarB;
    background-color: #5EABD6;
    color: white;
    font-weight: 600;
    font-size: clamp(1.3em, 3vw, 1.5em);
    box-shadow: 3px 3px 10px #9fc9dd85;
}

#addPontosB #zerarB:hover{
    background-color: #22506d;
    transition: all 0.8s ease;
}

#totalVitoriasA, #totalVitoriasB{
    margin-top: 20px;
}

#totalVitoriasA{
    color: #06923E;
    font-size: clamp(1.5em, 3vw, 2em);
    border-top: 1px solid white;
    padding-top: 40px;
    margin-top: 40px;
    font-weight: 600;
}

#totalVitoriasB{
    color: #5EABD6;
    font-size: clamp(1.5em, 3vw, 2em);
    border-top: 1px solid white;
    padding-top: 40px;
    margin-top: 40px;
    font-weight: 600;
}

#zerarVitoriasA{
    width: 100%;
    border: 0;
    border-radius: 3px;
    background-color: #06923E;
    color: #ffffff;
    padding: 10px 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: clamp(1.3em, 3vw, 1.5em);
    margin-top: 40px;
    box-shadow: 3px 3px 10px #6ebb8d67;
    cursor: pointer;
}

#zerarVitoriasA:hover{
    background-color: #085f2b;
    transition: all 0.8s ease;
}

#zerarVitoriasB{
    width: 100%;
    border: 0;
    border-radius: 3px;
    background-color: #5EABD6;
    color: #ffffff;
    padding: 10px 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: clamp(1.3em, 3vw, 1.5em);
    margin-top: 40px;
    box-shadow: 3px 3px 10px #9fc9dd85;
    cursor: pointer;
}

#zerarVitoriasB:hover{
    background-color: #22506d;
    transition: all 0.8s ease;
}
/* =-------------------------------= */

#nomeGrupos{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#nomeGrupos h2{
    margin-bottom: 5px;
}

#forms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    grid-template-areas: 
    "nomeA nomeB"
    "salvar salvar";
    padding: 10px;
}

#forms input{
    border: 0;
    padding: 10px;
    font-weight: 600;
}

#forms #NomeTimeA{
    grid-area: nomeA;
    border-top-left-radius: 5px;
    background-color: white;
}

#forms #NomeTimeB{
    grid-area: nomeB;
    border-top-right-radius: 5px;
    background-color: white;
}

#forms button{
    grid-area: salvar;
    background-color: #b7d7e5;
    border: 0;
    font-size: 17px;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 10px #6ebb8d67;
    cursor: pointer;
    color: black;
    letter-spacing: 1.2px;
    padding: 1.5%;
}

#forms button:hover{
    background-color: #76b3d6;
    transition: all 0.8s ease;
}

#imagensA{
    display: flex;
    justify-content: center;
}

#imagemGanhouA{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.288);
}

#imagemGanhouA img{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}

#imagemPerdeuA{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.288);
}

#imagemPerdeuA img{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}

/* --- */

#imagensB{
    display: flex;
    justify-content: center;
}

#imagemGanhouB{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.288);
}

#imagemGanhouB img{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}

#imagemPerdeuB{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.288);
}

#imagemPerdeuB img{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}


@media (min-width: 1024px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    
    #nomeGrupos{
        width: 55vw;
        display: flex;
        justify-content: center;
    }


    #containerPontuacoes{
        margin-top: 3%;
        width: 55vw;
        gap: 40px;
    }

    #pontuacaoTimeA{
        border: 0;
    }

    #pontuacaoTimeB{
        border: 0;
    }
    
    #imagemGanhouA{
        width: 15vw;
    }
    
    #imagemPerdeuA{
        width: 15vw;
    }
    
    /* --- */

    #imagemGanhouB{
        width: 15vw;
    }
    
    #imagemPerdeuB{
        width: 15vw;
    
    }

}